mixin input(name, type="text", value="", isAutoexpand=false,  attribute={})
    if !isAutoexpand
        input(name="attr_"+name, type=type, value=value)&attributes(attribute)
    else
        span.autoexpand&attributes(attribute)
            input(name="attr_"+name, type=type, value=value)&attributes(attribute)
            span.autoexpand(name="attr_"+name)&attributes(attribute)

mixin textinput(name, value="", autoexpand=false, attribute={})
    +input(name,"text", value, autoexpand, attribute)

mixin numberinput(name, value="", autoexpand=false, attribute={})
    +input(name, "number", value, autoexpand=false, attribute)

mixin radioinput(name, value="", attribute={})
    +input(name, "radio", value, false, attribute)

mixin hiddeninput(name, value="", attribute={})
    +input(name, "hidden", value, false, attribute)

mixin rollbutton(titel, fertigkeitswert)
    button(type="roll", class="play-only", value="@{probensichtbarkeit} &{template:abilityroll} {{erfolgsgrad_triumph=[[[[[[floor(abs([[[[@{probenwurfoption} + "+fertigkeitswert+" + @{probenmodifikator}]]  - @{probenschwierigkeit}]])/3)]] -3]] + 6]]}} {{wurf1=$[[0]]}} {{wurf2=$[[1]]}} {{wurf3=$[[2]]}} {{wurf4=$[[3]]}} {{gesamtwurf=$[[4]]}} {{gesamtprobe=$[[5]]}} {{gesamtprobendifferenz=$[[6]]}} {{erfolgsgrad=$[[7]]}} {{erfolgsgrad_patzer=$[[8]]}} {{titel="+titel+"}}")

.splittermond
    +hiddeninput("pc",1)
    .pc
        include sheets/pc.pug
script(type="text/worker")
    | var splittermond = 
    != JSON.stringify(splittermond)
    |;
    include ../js/sheetworker-ui.js
    include ../js/sheetworker.js