.data-section-row
    .data-section-fertigkeiten
        .data-header
            h3 Fertigkeiten
            span 
            span Pkt.
            span Mod.
        .data-area
            each fertigkeit, id in splittermond.fertigkeiten
                label= fertigkeit.Name
                span.tooltip
                    span.main-value(name="attr_"+id)
                    span.tooltiptext 
                        label= splittermond.attribute[fertigkeit.Attribute[0].toLowerCase()].short
                        span(name="attr_"+fertigkeit.Attribute[0].toLowerCase()) 0
                        label= splittermond.attribute[fertigkeit.Attribute[1].toLowerCase()].short
                        span(name="attr_"+fertigkeit.Attribute[1].toLowerCase()) 0
                        span.pre(name="attr_" + id + "tooltip")
                span 
                    +numberinput(id+"punkte",0)
                span 
                    +hiddeninput(id+"mod",0)
                    +numberinput(id+"moduser",0)
                span 
                    button(type="roll")
                div.line
    div.data-section-column
        .data-section-magieschulen
            .data-header
                h3 Magieschulen
                span 
                span Pkt.
                span Mod.
            .data-area
                each magieschule, id in splittermond.magieschulen
                    label= magieschule.Name
                    span.tooltip
                        span.main-value(name="attr_"+id)
                        span.tooltiptext
                            label= splittermond.attribute[magieschule.Attribute[0].toLowerCase()].short
                            span(name="attr_"+magieschule.Attribute[0].toLowerCase()) 0
                            label= splittermond.attribute[magieschule.Attribute[1].toLowerCase()].short
                            span(name="attr_"+magieschule.Attribute[1].toLowerCase()) 0
                            span.pre(name="attr_" + id + "tooltip")
                    span
                        +numberinput(id+"punkte",0)
                    span
                        +hiddeninput(id+"mod",0)
                        +numberinput(id+"moduser",0)
                    span 
                        button(type="roll")
                    div.line
        .data-section-kampffertigkeiten
            .data-header
                h3 Kampffertigkeiten
                span
                span Pkt.
                span Mod.
            .data-area
                each kampffertigkeit, id in splittermond.kampffertigkeiten
                    label= kampffertigkeit.Name
                    span.tooltip
                        span.main-value(name="attr_"+id)
                        span.tooltiptext
                            span.pre(name="attr_" + id + "tooltip")
                    span
                        +numberinput(id+"punkte",0)
                    span
                        +hiddeninput(id+"mod",0)
                        +numberinput(id+"moduser",0)
                    span 
                        button(type="roll")
                    div.line


