h2
    +textinput("character_name", "", true, {placeholder: "Charaktername"})
    | &middot;
    +textinput("spielername", "", true, {placeholder: "Spielername"})
        

.data-section-personal
    - 
        var personal_data_fields = {
            rasse: "Rasse",
            kultur: "Kultur",
            abstammung: "Abstammung",
            ausbildung: "Ausbildung",
            geschlecht: "Geschlecht",
            groesse: "Größe",
            gewicht: "Gewicht",
            haarfarbe: "Haarfarbe",
            augenfarbe: "Augenfarbe",
            hautfarbe: "Hautfarbe",
            geburtsort: "Geburtsort",
            mondzeichen: "Mondzeichen"
        }
    each labelText, id in personal_data_fields
        .data-set(class="data-set-"+id)
            label= labelText
            +textinput(id,"",true, {placeholder: "-"})
.data-section-row
    .data-section-attribute
        .data-header
            h3 Attribute
            span Start
            span Basis
            span max.
            span Mod.
        .data-area
            each labelText, id in splittermond.attribute
                label= labelText.short
                    span.secondary= labelText.long
                +numberinput(id+"start", 0)
                +numberinput(id+"basis", 0)
                +textinput(id+"max", 0, false, {readonly: true})
                span
                    +hiddeninput(id+"mod", 0)
                    +numberinput(id+"moduser", 0)
                span.tooltip
                    +numberinput(id, 0, false, {readonly: true})
                    span.tooltiptext.pre(name="attr_" + id + "tooltip")            
    
    .data-section-abgeleitetewerte
        .data-header
            h3 Abgeleitete Werte
            span
            span Mod.
        .data-area
            each labelText, id in splittermond.abgeleiteteWerte
                label= labelText.short
                    span.secondary= labelText.long
                span.tooltip
                    +numberinput(id, 0, false, {readonly: true})
                    span.tooltiptext.pre(name="attr_" + id + "tooltip")
                span
                    +numberinput(id+"moduser", 0)
                    +hiddeninput(id+"mod", 0)

.data-section-row
    .data-section-ressourcen
        .data-header
            h3 Ressourcen
        .data-area
            fieldset.repeating_ressources
                +textinput("ressourcename","")
                +numberinput("ressourcevalue",0)
            +hiddeninput("resourceupdated",0)
    .data-section-staerken
        .data-header
            h3 Stärken
        .data-area
            +hiddeninput("staerkenmod")
            fieldset.repeating_staerken
                +textinput("staerkename","")
                +numberinput("staerkenwert",1)
    .data-section-schwaechen
        .data-header
            h3 Schwächen
        .data-area
            fieldset.repeating_schwaechen
                +textinput("schwaeche","")
    .data-section-sprachen
        .data-header
            h3 Sprachen
        .data-area
            fieldset.repeating_sprachen
                +textinput("sprache","")
    .data-section-kulturkunde
        .data-header
            h3 Kulturkunde
        .data-area
            fieldset.repeating_kulturkunde
                +textinput("kulturkunde","")

.data-section-attributmods
    .data-header
        h3 Modifikatoren (z.b. Kan. Zauber)
        span Eigenschaft
        span Mod.
    .data-area
        +hiddeninput("attributmodsmod","")
        fieldset.repeating_attributmods
            +input("attributmodonoff","checkbox",false)
            +textinput("attributmodname","")
            select(name="attr_modattribut") 
                optgroup(label="Attribute")
                    each labelText, id in splittermond.attribute
                        option(value=id)= labelText.long
                optgroup(label="Abgeleitete Attribute")
                    each labelText, id in splittermond.abgeleiteteWerte
                        option(value=id)= labelText.long
                    option(value="allwiderstand") Alle Widerst&auml;nde
                optgroup(label="Kampfrelevantes")
                    option(value="behinderung") Behinderung
                    option(value="schadensreduktion") Schadensreduktion
                    option(value="angriff") Angriffe
                    option(value="wundabzug") Wundabzug
                optgroup(label="Fertigkeiten")
                    <option value="allfertigkeiten">Alle Fertigkeiten</option>
                    <option value="magiefertigkeiten">Magie Fertigkeiten</option>
                    <option value="allgfertigkeiten">Allgemeine Fertigkeiten</option>
                    <option value="kampffertigkeiten">Kampffertigkeiten</option>
            +numberinput("attributmod",1)
            

