h2
    +textinput("character_name", "", true, {placeholder: "Charaktername"})
    | &middot;
    +textinput("spielername", "", true, {placeholder: "Spielername"})
        

.data-section-personal
    - 
        var personal_data_fields = {
            rasse: "Rasse",
            kultur: "Kultur",
            abstammung: "Abstammung",
            ausbildung: "Ausbildung",
            geschlecht: "Geschlecht",
            groesse: "Größe",
            gewicht: "Gewicht",
            haarfarbe: "Haarfarbe",
            augenfarbe: "Augenfarbe",
            hautfarbe: "Hautfarbe",
            geburtsort: "Geburtsort",
            mondzeichen: "Mondzeichen"
        }
    each labelText, id in personal_data_fields
        .data-set(class="data-set-"+id)
            label= labelText
            +textinput(id,"",true, {placeholder: "-"})
.data-section-row
    .data-section-attribute
        .data-header
            h3 Attribute
            span Start
            span
            span max.
        .data-area
            each labelText, id in splittermond.attribute
                label= labelText.short
                    span.secondary= labelText.long
                +numberinput(id+"start", 0)
                +numberinput(id, 0)
                +textinput(id+"max", 0, false, {readonly: true})
            each labelText, id in splittermond.attribute
                +hiddeninput("hidden"+id, 0)
                +hiddeninput("hidden"+id+"mod", 0)
    
    .data-section-abgeleitetewerte
        .data-header
            h3 Abgeleitete Werte
            span
            span Mod.
        .data-area
            each labelText, id in splittermond.abgeleiteteWerte
                label= labelText.short
                    span.secondary= labelText.long
                span.tooltip
                    +numberinput(id, 0, false, {readonly: true})
                    span.tooltiptext.pre(name="attr_" + labelText.short.toLowerCase() + "tooltip")
                        labelText.long
                span
                    +numberinput(id+"mod", 0)
                    +hiddeninput(id+"staerkemod", 0)
            +hiddeninput("hiddengsw", 0)
            +hiddeninput("hiddengswmod", 0)
            +hiddeninput("hiddengswbe", 0)
            +hiddeninput("hiddengswag", 0)
            +hiddeninput("hiddengswspr", 0)
            +hiddeninput("sprintercount", 0)
            +hiddeninput("hiddenmodgsw", 0)
            +hiddeninput("hiddenini", 0)
            +hiddeninput("hiddeninibr", 0)
            +hiddeninput("blitzreflexecount", 0)
            +hiddeninput("hiddenmodini", 0)
            +hiddeninput("hiddenlp", 0)
            +hiddeninput("hiddenfokreg", 0)
            +hiddeninput("hiddenlifereg", 0)
            +hiddeninput("hiddenfokus", 0)
            +hiddeninput("hiddensbm", 0)
            +hiddeninput("hiddenvtdgr", 0)
            +hiddeninput("hiddenvtdhg", 0)
            +hiddeninput("hiddenvtdruestungschild", 0)
            +hiddeninput("hiddenvtdbonus", 0)
            +hiddeninput("hiddenallwiderstand", 0)
            +hiddeninput("hiddengw", 0)
            +hiddeninput("hiddengwhg", 0)
            +hiddeninput("hiddengwbonus", 0)
            +hiddeninput("hiddenkw", 0)
            +hiddeninput("hiddenkwhg", 0)
            +hiddeninput("hiddenkwbonus", 0)

.data-section-row
    .data-section-ressourcen
        .data-header
            h3 Ressourcen
        .data-area
            fieldset.repeating_ressources
                +textinput("ressourcename","")
                +numberinput("ressourcevalue",0)
            +hiddeninput("resourceupdated",0)
    .data-section-staerken
        .data-header
            h3 Stärken
        .data-area
            fieldset.repeating_staerken
                +textinput("staerkename","")
                +numberinput("staerkenwert",1)
    .data-section-schwaechen
        .data-header
            h3 Schwächen
        .data-area
            fieldset.repeating_schwaechen
                +textinput("schwaeche","")
    .data-section-sprachen
        .data-header
            h3 Sprachen
        .data-area
            fieldset.repeating_sprachen
                +textinput("sprache","")
    .data-section-kulturkunde
        .data-header
            h3 Kulturkunde
        .data-area
            fieldset.repeating_kulturkunde
                +textinput("kulturkunde","")

.data-section-attributmods
    .data-header
        h3 Modifikatoren (z.b. Kan. Zauber)
        span Eigenschaft
        span Mod.
        span Aktiv?
    .data-area
        fieldset.repeating_attributmods
            +textinput("attributmodname","")
            select(name="attr_modattribut") 
                optgroup(label="Attribute")
                    <option value="aus">Ausstrahlung</option>
                    <option value="bew">Beweglichkeit</option>
                    <option value="int">Intuition</option>
                    <option value="kon">Konstitution</option>
                    <option value="mys">Mystik</option>
                    <option value="stae">St&auml;rke</option>
                    <option value="ver">Verstand</option>
                    <option value="wil">Willenskraft</option>
                optgroup(label="Abgeleitete Attribute")
                    <option value="vtd">Verteidigung</option>
                    <option value="gw">Geistiger Widerstand</option>
                    <option value="kw">K&ouml;rperlicher Widerstand</option>
                    <option value="allwiderstand">Alle Widerst&auml;nde</option>
                    <option value="ini">Initiative</option>
                    <option value="gsw">Geschwindigkeit</option>
                optgroup(label="Kampfrelevantes")
                    <option value="beh">Behinderungsreduktion</option>
                    <option value="sr">Schadensreduktion</option>
                    <option value="ab">Bonus auf Angriffe</option>
                    <option value="si">Schmerzimmunit&auml;t (1 = aktiv)</option>
                    <option value="war">Wundabzugs-Reduktion</option>
                optgroup(label="Fertigkeiten")
                    <option value="allfert">Alle Fertigkeiten</option>
                    <option value="allgfert">Allgemeine Fertigkeiten</option>
                    <option value="kampffert">Kampffertigkeiten</option>
            +numberinput("attributmod",1)
            +input("attributmodonoff","checkbox",false)

