+hiddeninput("erschoepft", 0)
+hiddeninput("lahm", 0)
+hiddeninput("benommen", 0)
+hiddeninput("verwundet", 0)

.data-section-row
    .data-section-lebenspunkte
        .data-header
            h3 Gesundheit
        .data-area.lebenspunkte
            +hiddeninput("lebenspunkte",0)
            .gesundheitsstufen
                
                +hiddeninput("wundabzug",0)
                +hiddeninput("gesundheitsstufe",1)
                span.unverletzt Unverletzt
                span.angeschlagen Angeschlagen
                span.verletzt Verletzt
                span.schwerverletzt Schwer verletzt
                span.todgeweiht Todgeweiht
            .lebenspunkte
                +hiddeninput("lebenspunkte_v",0)
                +hiddeninput("lebenspunkte_e",0)
                +hiddeninput("lebenspunkte_k",0)
                +hiddeninput("lebenspunkte_t",0)
                +hiddeninput("sr1",1)
                +hiddeninput("sr2",1)
                span.verzehrt(name="attr_lebenspunkte_v_bar")
                span.erschoepft(name="attr_lebenspunkte_e_bar")
                span.kanalisiert(name="attr_lebenspunkte_k_bar")
                span.lebenspunkte-t(name="attr_lebenspunkte_t_bar")
        .data-area.wundabzug
            label Wundabzug
            span(name="attr_wundabzug")
            +hiddeninput("wundabzugmod",0)
            | +
            +numberinput("wundabzugmoduser")

    .data-section-zustaende
        .data-header
            h3 Zustände
        .data-area
            +hiddeninput("zustaendemod","")
            fieldset.repeating_zustaende
                +input("zustandonoff","checkbox",1)
                +textinput("zustandsname","", false,  {placeholder: "Zustand"})
                +numberinput("zustandsstufe",1)
    .data-section-fokus
        .data-header
            h3 Fokus
        .data-area.fokus
            +hiddeninput("fokus_v",0)
            +hiddeninput("fokus_e",0)
            +hiddeninput("fokus_k",0)
            +hiddeninput("fokus_t",0)
            +hiddeninput("sr1",1)
            +hiddeninput("sr2",1)
            span.verzehrt(name="attr_fokus_v_bar")
            span.erschoepft(name="attr_fokus_e_bar")
            span.kanalisiert(name="attr_fokus_k_bar")
            span.lebenspunkte-t(name="attr_fokus_t_bar")
    
.data-section-row
    .data-section-schaden
        .data-header
            h3 Schaden
        .data-area
            button(name="act_removeschaden", type="action") heilen
            +numberinput("anzahlschaden")
            select(name="attr_anzahlschadenart")
                option(value="v") verzehrt
                option(value="e") erschöpft
                option(value="k") kanalisiert
            button(name="act_addschaden", type="action") zufügen
    .data-section-regeneration
        .data-header
            h3 Regeneration
        .data-area
            label Bonus
            +numberinput("regbonus", 0)
            button(name="act_ruhephase", type="action") Ruhephase
            button(name="act_verschnaufpause", type="action") Verschnaufpause

    .data-section-aktiveabwehr
        .data-header
            h3 Aktive Abwehr
        .data-area
            button(type="roll")
            label
                span Akrobatik
            span(name="attr_akrobatik")
        fieldset.repeating_aawaffen
            .data-area
                +hiddeninput("rowid")
                +hiddeninput("aawaffe")
                +hiddeninput("aawert")
                button(type="roll")
                label
                    span(name="attr_aawaffe")
                span(name="attr_aawert")
            
.data-section-waffen
    .data-header
        h3 Waffen
        span Wert
        span Mod
        span Schaden
        span WGS
        span RW
        span(style="text-align:left") Merkmale
    fieldset.repeating_waffen
        .data-area
            +hiddeninput("waffenwert",0)
            +rollbutton("@{waffenname}", "@{waffenwert}")
            button(type="action", name="act_rollweapon" class="play-only")
            span
                +textinput("waffenname","", false, {placeholder: "Waffenname"})    
                span(style="white-space: nowrap")
                    select(name="attr_waffenskill") 
                        each fertigkeit, id in splittermond.kampffertigkeiten
                            option(value=id)= fertigkeit.Name
                    | +
                    select(name="attr_waffenattr1") 
                        each attribut, id in splittermond.attribute
                            option(value=id)= attribut.short
                    | +
                    select(name="attr_waffenattr2") 
                        each attribut, id in splittermond.attribute
                            option(value=id)= attribut.short
            span.main-value(name="attr_waffenwert")
            +numberinput("waffenmoduser",0)
            +textinput("waffenschaden","W6")
            +numberinput("waffenwgs",3)
            +numberinput("waffenreichweite",0)
            span
                +textinput("waffenmerkmale","", true, {placeholder: "-", class: "small"})
                +textinput("waffennotizen","", false, {placeholder: "Notizen"})
            
                
        

.data-section-zauber
    .data-header
        h3 Zauber
        span Wert
        span Mod
        span SG
        span Schaden
        span Kosten (verstärkt)
        span ZD
        span RW
        span WD
    fieldset.repeating_zauber
        .data-area
            +rollbutton("@{zaubername}", "@{zauberwert}")
            label.show-more(style="z-index:1999")
                +input("zaubershowmore","checkbox","on")
                span 4
            span
                +textinput("zaubername","", false, {placeholder: "Zaubername"})
                select(name="attr_magieschulen") 
                    each fertigkeit, id in splittermond.magieschulen
                        option(value=id)= fertigkeit.Name
            span.main-value(name="attr_zauberwert")
            +numberinput("zaubermoduser",0)
            +textinput("zauberschwierigkeit","", false, {placeholder: "SG"})
            +textinput("zauberschaden","", true, {placeholder: "Schaden"})
            +textinput("zauberkosten", "", true, {placeholder: "Kosten"})
            +textinput("zauberdauer","", true, {placeholder: "ZD"})
            +textinput("zauberrw","", true, {placeholder: "RW"})
            +textinput("zauberwd","", true, {placeholder: "WD"})
            
            +hiddeninput("zaubershowmore")
            textarea(name="attr_zauberwirkung" placeholder="Zauberwirkung" class="small" rows=4)

.data-section-ruestungen
    +hiddeninput("ruestungmod", "")
    .data-header
        h3 Rüstung
        span
        span VTD+
        span SR
        span BE
        span Tick+
        span Merkmale
    .data-area
        +hiddeninput("ruestungsvtdmod", 0)
        +hiddeninput("ruestungssrmod", 0)
        +hiddeninput("ruestungsbemod", 0)
        +hiddeninput("ruestungstickplusmod", 0)
        fieldset.repeating_ruestungen
            +input("ruestungonoff","checkbox",1)
            +textinput("ruestungsname","", false, {placeholder: "Rüstungsname"})
            +numberinput("ruestungsvtd", 0)
            +numberinput("ruestungssr", 0)
            +numberinput("ruestungsbe", 0)
            +numberinput("ruestungstickplus", 0)
            +textinput("ruestungsmerkmal", "", false, {placeholder: "-"})
.data-section-schilde
    .data-header
        h3 Schild
        span
        span VTD+
        span SR
        span BE
        span Tick+
        span Merkmale
    .data-area
        +hiddeninput("schildvtdmod", 0)
        +hiddeninput("schildsrmod", 0)
        +hiddeninput("schildbemod", 0)
        +hiddeninput("schildtickplusmod", 0)
        div 
            div
                +input("schildonoff","checkbox",1)
                +textinput("schildname","", false, {placeholder: "Schildname"})
                +numberinput("schildvtd", 0)
                +numberinput("schildsr", 0)
                +numberinput("schildbe", 0)
                +numberinput("schildtickplus", 0)
                +textinput("schildmerkmale", "", false, {placeholder: "-"})
    .data-area
        div 
            div
                span
                label Gesamt:
                span.tooltip
                    span.main-value(name="attr_ruestungvtd")
                    span.tooltiptext 
                        span.pre(name="attr_ruestungvtdmodtooltip")
                span.tooltip
                    span.main-value(name="attr_ruestungsr")
                    span.tooltiptext 
                        span.pre(name="attr_ruestungsrmodtooltip")
                span.tooltip
                    span.main-value(name="attr_ruestungbe")
                    span.tooltiptext 
                        span.pre(name="attr_ruestungbemodtooltip")
                span.tooltip
                    span.main-value(name="attr_ruestungtickplus")
                    span.tooltiptext
                        span.pre(name="attr_ruestungtickplusmodtooltip")

.data-section-meisterschaften
    .data-header
        h3 Meisterschaften
        span Fertigkeit
        span Schwelle
        span Beschreibung
    .data-area
        +hiddeninput("meisterschaftmod","")
        fieldset.repeating_meisterschaften
            +textinput("meisterschaftsname","", false, {placeholder: "Meisterschaft"})
            select(name="attr_magieschulen")
                optgroup(label="Allgemeine Fertigkeiten")
                    each fertigkeit, id in splittermond.fertigkeiten
                        option(value=id)= fertigkeit.Name
                optgroup(label="Magieschulen")
                    each fertigkeit, id in splittermond.magieschulen
                        option(value=id)= fertigkeit.Name
                optgroup(label="Kampffertigkeiten")
                    each fertigkeit, id in splittermond.kampffertigkeiten
                        option(value=id)= fertigkeit.Name
            +numberinput("meisterschaftsschwelle",0)
            +textinput("meisterschaftswirkung","", true, {placeholder: "Beschreibung"})


            
            
